<ion-header>
  <ion-toolbar>
    <div class="container-fluid">
      <div class="row align-items-center justify-content-between">
        <ion-title class="col-3 col-md-2">
          <strong>>_</strong>
        </ion-title>
        
        @if (!isMobile) {
          <div class="col-md-6">
            <ion-segment [(ngModel)]="selectedPage">
              @for (route of routes; track route) {
                <ion-segment-button (click)="scrollToSection(route, ('/'+ route ))"[value]="route">
                  <ion-label class="text-gradient">{{ 'HEADER.' + route.toUpperCase() | translate }}</ion-label>
                </ion-segment-button>
              }
            </ion-segment>
          </div>
        }
        
        @else {
          <div class="col-6 d-flex justify-content-center">
            <p-sidebar [(visible)]="isSidebarToggled" position="right" appendTo="body">
              <ul class="list d-flex h-100 flex-column align-items-stretch justify-content-stretch h-100">
                
                @for (route of routes; track route) {
                  <li class="d-flex flex-grow-1">
                    <ion-card (click)="scrollToSection(route, ('/' + route))" class="d-flex flex-grow-1 align-items-center p-2 justify-content-center">
                      <h6>
                        <strong>{{('HEADER.' + route.toUpperCase() | translate).toUpperCase()}}</strong>
                      </h6>
                    </ion-card>
                  </li>
                }
  
              </ul>
            </p-sidebar>
            <button pButton type="button" icon="pi pi-bars" (click)="toggleSidebar()"></button>
          </div>
        }
        
        <div class="col-3 col-md-2 d-flex justify-content-end">
          <p-dropdown
            [options]="languages"
            [(ngModel)]="selectedLanguage"
            (ngModelChange)="switchLanguage(selectedLanguage.langCode)"
            optionLabel="code"
            [showClear]="false"
            [filter]="false"
            appendTo="body"
            class="w-100"
            class="flags"
          >
            <ng-template let-language pTemplate="item">
              <div>
                <span class="fi" [ngClass]="'fi-' + language.flagCode"></span>
              </div>
            </ng-template>
            <ng-template let-language pTemplate="selectedItem">
              @if (language) {
                <div>
                  <span class="fi" [ngClass]="'fi-' + language.flagCode"></span>
                </div>
              }
            </ng-template>
          </p-dropdown>
        </div>

      </div>
    </div>
  </ion-toolbar>
</ion-header>