@import '/src/assets/animista.scss';


.profile{
    
    padding: 10px;

    .profile-picture{
        clip-path: circle(50% at 50% 50%);
        padding: 0px;
    }

    ion-card-header{
        background: linear-gradient(to right, red, purple) ;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    ion-card-title{
        font-size: 2em; 
    }

    ion-card-content{
        font-size: 1em;
    }
}

.tech{


    #tech-header{
        background: linear-gradient(to right, red, purple) ;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    ion-card{

        border: 5px solid;
        border-image: linear-gradient(to right,red,purple)1;

        strong{
            font-family: teko;
            font-size: 1.4em;
        }
    }
}


.particles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -2;
}


 @media (orientation: portrait) {
    .full-height-portrait {
      height: 100vh; /* Full viewport height */
    }
  }


.vertical{
    @include vertical-center;
}

.horizontal{
    @include horizontal-left;
}

.jello{
    @include jello;
}