@import '/src/assets/animista.scss';


.profile{
    
    padding: 10px;

    .profile-picture{
        @include vertical-center;
        margin-right: 20px;
        margin-left: 20px;
        padding: 0;
        clip-path: circle(50% at 50% 50%);
    }

    .profile-content{
        @include horizontal-left;
    }

    ion-card-content{
                border-bottom: 5px solid;
        border-image: linear-gradient(to right, red, purple) 1;
    }

    ion-card-header{
        background: linear-gradient(to right, red, purple) ;
        -webkit-background-clip: text;
        background-clip: text;

        -webkit-text-fill-color: transparent;
    }

    ion-card-title{
        font-size: 22pt; 
    }

    ion-card-content{
        font-size: 12pt;
    }
}

.tech{


    ion-card{
        border-radius: 15px;
        border: 5px solid;
        border-image: linear-gradient(to right, red, purple) 1;
}
    strong{
        font-family: teko;
        font-size: 1.4em;
    }
}


.particles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

