<ngx-particles 
    [id]="id" 
    [options]="particlesOptions" 
    class="particles">
</ngx-particles>

<div class="container-fluid h-100">
    <div class="row h-100 d-flex align-items-center justify-content-center">
      <div class="form-card col-12 col-sm-8 col-md-4 col-lg-3 col-xl-2 d-flex flex-column align-items-center justify-content-center">
      
      <div class="row col-12">
        <ion-card-header>
          <ion-card-title class="h1 text-center"><strong>Let's get in touch</strong></ion-card-title>
        </ion-card-header>
      </div>
  
      <form [formGroup]="formGroup" class="form d-flex flex-column">
        
        <div class="row col-12">
          <p-floatLabel>
            <input class="w-100" pInputText id="email" formControlName="email"/>
            <label for="email">Email</label>
          </p-floatLabel>

          <p-floatLabel>
            <input class="w-100" pInputText id="subject" formControlName="subject"/>
            <label for="subject">Subject</label>
          </p-floatLabel>

          <p-floatLabel>
            <textarea class="w-100" pInputTextarea id="content" rows="5" cols="30"  formControlName="content"></textarea>
            <label for="content">Content</label>
          </p-floatLabel>
        </div>  
    

        <ion-button class="w-50 align-self-end">
          Send
        </ion-button>

        </form>
      </div>
    </div>
</div>