.content{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center
}

.form-card{
    max-width: 50%;
    max-height: 50%;
    padding: 40px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p-floatLabel{
        margin: 15px;
    }


    ion-card-header{
        background: linear-gradient(to right, red, purple) ;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    ion-card-title{
        font-size: 22pt; 
        text-align: center;
    } 

    ion-button{
        --background: linear-gradient(to right, red, purple);
        align-self: end;
        margin: 15px;
    }

    .form{
        display: flex;
        flex-direction: column;

        input{
            width: 100%;
        }
    }
}


.particles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}