<div class="contacts container-fluid d-flex flex-column">
  <ngx-particles  [id]="id" [options]="testParticles" class="particles"></ngx-particles>
    <div class="row h-100 d-flex align-items-center justify-content-center p-5">
      <div class="form-card col-12 col-sm-8 col-md-4 col-lg-3 col-xl-2 d-flex flex-column align-items-center justify-content-center">
      
      <div class="row col-12">
        <ion-card-header [ngClass]="isTitleVisible ? 'slide' : 'hidden'">
          <ion-card-title class="h1 text-center"><strong>{{'CONTACTS.TITLE' | translate }}</strong></ion-card-title>
        </ion-card-header>
      </div>
  
      <form [formGroup]="formGroup" (ngSubmit)="onSubmit()" class="form d-flex flex-column align-items-center justify-content-center">
        
        <div class="row col-12">
          <p-floatLabel class="my-3"[ngClass]="isFormVisible[0] ? 'slide' : 'hidden'">
            <input class="w-100" pInputText id="email" formControlName="email"/>
            <label for="email">
              {{ isEmailValid ? ('CONTACTS.EMAIL' | translate) : ('CONTACTS.ERROR.EMAIL' | translate)}}
            </label>
          </p-floatLabel>

          <p-floatLabel class="my-3" [ngClass]="isFormVisible[1] ? 'slide' : 'hidden'">
            <input class="w-100" pInputText id="subject" formControlName="subject"/>
            <label for="subject">
              {{ isSubjectValid ? ('CONTACTS.SUBJECT' | translate) : ('CONTACTS.ERROR.SUBJECT' | translate)}}
            </label>
          </p-floatLabel>

          <p-floatLabel class="my-3" [ngClass]="isFormVisible[2] ? 'slide' : 'hidden'">
            <textarea class="w-100" 
              pInputTextarea 
              id="content" 
              rows="5" 
              cols="30" 
              formControlName="content"
              ></textarea>
            <label for="content">
              {{ isContentValid ? ('CONTACTS.CONTENT' | translate) : ('CONTACTS.ERROR.CONTENT' | translate)}}
            </label>
          </p-floatLabel>
        </div>  
    
        <ion-button type="submit"
          [ngClass]="{
            'slide': isFormVisible[3] && !isAnimating,
            'hidden': !isFormVisible[3]
          }"
          class="w-50 align-self-end"
        >
          {{ sent ? ('CONTACTS.BUTTON-SENT' | translate) : ('CONTACTS.BUTTON' | translate)}}
        </ion-button>
        </form>
      </div>
    </div>
</div>