

.form-card{

    p-floatLabel{
        margin: 15px;
    }

    ion-button{
        margin: 10px;
    }

    ion-card-header{
        background: linear-gradient(to right, red, purple) ;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    ion-button{
        --background: linear-gradient(to right, red, purple);
    }
}


.particles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}