@import 'src/assets/animations/animista.scss';
@import 'src/theme/variables.scss';

.container-fluid{
    position: relative;
}

.particles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.form-card{

    ion-button{
        margin: 4%;
    }

    ion-card-header{
        @include text-gradient;
    }

    ion-button{
        --background: var(--gradient);
    }
}

textarea:focus ~ label,
textarea:not(:empty) ~ label,
textarea.ng-dirty ~ label {   
    transform: scale(0.9);
    top: -16px; 
    background: #1e1e1e;
    padding: 1%;
}

textarea:focus{
    border-color: var(--primary-color); 
    outline: none; 
}

textarea:focus ~ label{
    color: var(--primary-color);
}

.hidden{
    opacity: 0;
}

.slide{
    @include slide-top;
}


ion-button:active{
    @include jello;
}