@mixin text-gradient {
        background: linear-gradient(to right, red, purple);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
}

.text-gradient{
        @include text-gradient;
}