:root{
        --primary-gradient-color: red;
        --secondary-gradient-color: purple;
        --gradient: linear-gradient(to right, var(--primary-gradient-color), var(--secondary-gradient-color));
}

@mixin text-gradient {
        background: var(--gradient);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
}

.text-gradient{
        @include text-gradient;
}