<ion-app class="d-flex flex-column vh-100">
  <app-header #headerElement 
    [selectedPage]="selectedSection" 
    [isMobile]="isMobile" 
    (changedSection)="scrollAndChangeUrl($event.sectionName, $event.sectionUrl)" 
    class="sticky-top">
  </app-header>
  <ion-content class="flex-grow-1">
    
    <app-home #home [id]="components[0]" [trigger]="visibilityMap[components[0]]"></app-home>
    <div class="separator"></div>
    <app-about #about [id]="components[1]" [trigger]="visibilityMap[components[1]]" [isMobile]="isMobile"></app-about>
      <div class="separator"></div>
    <app-project #project [id]="components[2]" [trigger]="visibilityMap[components[2]]" [isMobile]="isMobile"></app-project>
      <div class="separator"></div>
      
    <app-contacts #contacts [id]="components[3]" [trigger]="visibilityMap[components[3]]"></app-contacts>
    <app-footer></app-footer>

  </ion-content>
</ion-app>