
:root {
  --ion-safe-area-top: env(safe-area-inset-top, 0px);
}

ion-app {
  padding-top: var(--ion-safe-area-top);
}

app-header {
  top: var(--ion-safe-area-top) !important;
}

ion-content {
  --padding-top: var(--ion-safe-area-top);
}

ion-content::part(scroll) {
  padding-top: var(--header-height, 70px);
}
