<ngx-particles
  [id]="id"
  [options]="particlesOptions"
  class="particles">
</ngx-particles>
<div class="project container-fluid max-h-100 d-flex flex-column align-items-center justify-content-center">
  
  <div class="d-flex my-5 align-items-center">  
    <div class="row d-flex align-items-center justify-content-center">
      <ion-card-header [ngClass]="isHeaderVisible ? 'slide' : 'hidden'" class="col-12 col-sm-8 col-md-6 col-lg-4">
        <ion-card-title id="main-heading" class="h2 text-center"><strong>{{'PROJECT.HEADING' | translate}}</strong></ion-card-title>
      </ion-card-header>
      <div>
        <div [ngClass]="isParagraphVisible ? 'slide' : 'hidden'" class="row d-flex align-items-center justify-content-center">
          <ion-card-content id="heading-desc" class="col-10 col-lg-4 text-center">
            {{'PROJECT.HEADING-DESC1' | translate}}
            {{'PROJECT.HEADING-DESC2' | translate}}
            {{'PROJECT.HEADING-DESC3' | translate}}
            {{'PROJECT.HEADING-DESC4' | translate}}
          </ion-card-content>
        </div>
      </div>
    </div>
  </div>

  <div class="project-list-section d-flex align-items-center justify-content-center mt-5">
      @if(!isMobile){
        <div class="list row col-12 col-sm-11 col-lg-6">
          @for(project of projects; track $index){
            <ion-card [ngClass]="isProjectVisible[$index] ? 'vertical' : 'hidden'" class="project row">
              <div class="col-6 content d-flex flex-column align-items-center justify-content-center">
                <ion-card-header class="text-center">
                  <ion-card-title>{{'PROJECT.CARD.' + $index + '.TITLE' | translate}}</ion-card-title>
                </ion-card-header>
                <ion-card-content class="text-center">
                  {{'PROJECT.CARD.' + $index + '.PARAGRAPH1' | translate}}
                  {{'PROJECT.CARD.' + $index + '.PARAGRAPH2' | translate}}
                  {{'PROJECT.CARD.' + $index + '.PARAGRAPH3' | translate}}
                </ion-card-content>
              </div>
              <ion-img [src]="project[0]" [alt]="project[1]" class="desktop-image img-fluid col-6 p-4"></ion-img>
            </ion-card>
          }
        </div>
      }
      @else {
        @for(project of projects; track project){
          <div class="row col-10 col-sm-8 d-flex align-items-center justify-content-center">
            <ion-img class="mobile-image img-responsive" [src]="project[0]" [alt]="projects[1]"></ion-img>
          </div>
        }
      }
  </div>
</div>