@import 'src/theme/variables.scss';

#main-heading{
    @include text-gradient;

    strong{
        border-bottom: 5px solid;
        border-image: linear-gradient(to right, red, purple)1;
    }
}

#heading-desc{
    font-size: 1em;
}

.list{

    > :nth-child(even){
        
        display: flex;
        flex-direction: row;
    }

    > :nth-child(odd){
        display: flex;
        flex-direction: row-reverse;
    }

}

.content{

    ion-card-content{
        border-bottom: 5px solid;
        border-image: linear-gradient(to right, red, purple) 1;
    }

    ion-card-header{
        @include text-gradient;

        ion-card-title{
            font-size: 25pt;
        }
    }
}

.particles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

ion-img::part(image){
    
        border-radius: 2%;
    
}