.content-holder{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.intro-holder{
    align-self: center;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    
    max-width: 50%;


    ion-card-header{
        background: linear-gradient(to right, red, purple);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        ion-card-title{
            font-size: 25pt;
        }

    }
}

.project-list{

    display: flex;
    flex-direction: column;
    align-items: center;

    > :first-child{
        margin-top: calc((100% * 0.25 - 270px)/2) !important;
    }

    > :nth-child(even){
        
        display: flex;
        flex-direction: row;
    }

    > :nth-child(odd){
        display: flex;
        flex-direction: row-reverse;
    }


    .project-holder{

        max-width: 60%;
        padding: 30px;
        margin: 30px 0px 30px 0px;
        align-items: center;

        .content-holder{

            max-width: 55%;            
            margin: 30px;

            display: flex;
            flex-direction: column;
            justify-content: baseline;
            align-items: center;

            ion-card-content{
            
                border-bottom: 5px solid;
                border-image: linear-gradient(to right, red, purple) 1;
            }

            ion-card-header{
                background: linear-gradient(to right, red, purple);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;

                ion-card-title{
                    font-size: 25pt;
                }
            }
        }

        ion-imng{
            padding: 50px;
            max-width: 480px;
            max-height: 270px;
        }
    }
}

.particles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}