@import 'src/theme/variables.scss';
@import 'src/assets/animations/animista.scss';

.project{
    position: relative;
}
#main-heading{
    @include text-gradient;
}

#heading-desc{
    font-size: 1em;
}

.list{

    > :nth-child(even){

        display: flex;
        flex-direction: row;
    }

    > :nth-child(odd) {
        display: flex;
        flex-direction: row-reverse;
    }

}

.content{

    ion-card-header{
        @include text-gradient;

        ion-card-title{
            font-size: 25pt;
        }
    }
}

.particles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

ion-img::part(image){
    
        border-radius: 2%;
    
}

.hidden{
    opacity: 0;
}

.slide{
    @include slide-top
}

.vertical{
    @include vertical-center
}
