@import 'src/assets/animations/animista.scss';

.home{
  position: relative;
  height: auto;
}
.particles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.header{
  font-family: teko;
}

.social-list{
  margin-bottom: 1dvh;
}

ion-button{
  --background: var(--gradient);
  a{
    color: black;
  }
}

.social-container{
    position: relative;
    display: inline-block;
    overflow: hidden;
    padding: 1%;
    border-radius: 5px;
}

.social-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--gradient); 
    mix-blend-mode: multiply; 
    opacity: 0.8; 
    pointer-events: none;
}

.social-container:active{
  @include jello
}

ion-button:activez{
  @include jello
}

*{
  box-sizing: border-box;
}


.hidden{
  opacity: 0;
}

.slide{
  @include slide-top;
}

.vertical{
  @include vertical-center;
}


.social-container:hover, .social-container:active{
  @include jello;
}

ion-button:hover, ion-button:active{
  @include jello;
}
